@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins&family=Roboto:wght@300;700&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}
.container{
    max-width: 1440px;
    padding: 0 15px;
    margin: auto;
}
.header{
    .green-top{
        background-color: #0C4B35;
       
    }
    li{
        color: #fff;
       
    }
    .top-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        height: 60px;
        
    }
    .top-nav{
        display: flex;
        text-align: center;
        li{
            margin: 15px;
        }
        a{
            color: #fff;
        }
    }
    .but-lang{
        margin-right: 15px;
        img{
            margin-top: 8px;
        }
    }
    .down-header{
        display: flex;
        justify-content: space-between;
        height: 85px;
        align-items:center;
        .logo{
            padding-left: 25px;
        }

    }
    .menu-nav{
        display: flex;
        .down-nav{
            display: flex;
            align-items:center;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;  
            .item-nav{
                color: black;
            } 
        }
    
    .but-call{
        background-color:#00730C;
        color:#fff;
        height: 50px;
        width: 170px;
        border-radius: 5px;
        padding: 17.5px;
        text-align: center;
        img{
            height: 25px;
            width: 25px;
        }
    }
    
    
}}

.main{
    .information{
        background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
        height: 719px;
        .flex-container{
            display: flex;
        }
    }
    .inform-text{
        h2{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #212529;
            margin-top: 133px;

        }
        h1{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 800;
            font-size: 58px;
            line-height: 79px;
            color: #212529;
            margin-top: 20px;
            span{
                color:#00730C;
            }
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #676767;
            margin-top: 20px;
        }
        .butt-get{
            color: #fff;
            background-color: #00730C;
            width: 175px;
            height: 50px;
            border-radius: 5px;
        }
        .but-info{
            margin-top: 50px;
        }

    }
    .inform-img{
     background-image: url(./images/info_img.jpg);
     background-repeat:no-repeat;
     background-position:center;
     padding-left: 30px;
     height: 673px;
     width: 1013px;
    }
    .but-see{
        padding-left: 30px;
    }
    .info-plus{
        color: #212529;
        display: flex;
        margin-top: 56px;
        .circle{
            width: 50px;
            height: 50px;
            background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
            border-radius: 35px;
            display: flex;
            align-items:center;
            margin-right: 10px;
           
            .circle-text{
               margin-left: 5px;
               
            }
          
        
        }
        .circle-dop-info{
            margin-top: 5px;
            margin-right: 30px;
        }
    }
    .services{
        .services-card{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;
            .card:hover{
                background-color: #00730C;
            }
        }
        .card::hover{
            background-color: #00730C;
        }
        .card{
            width: 330px;
            height: 366px;
            background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            border-radius: 10px;
            text-align: center;
            margin: 10px 10px 10px 10px;
            img{
                margin-top: 60px;
            }
            .card-h{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                text-align: center;
                text-transform: capitalize;
                color: #212529;
                margin-top: 50px;
            }
            .card-text{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                text-align: center;
                color: #676767;
                padding: 0 44px 0px 44px;
                margin-top: 10px;
            }
        }
        .card::hover{
            background-color: #00730C;
        }
       
    }
    .services-head{
        margin-top: 100px;
        
        text-align: center;
        h2{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 800;
            font-size: 45px;
            line-height: 61px;
            color: #212529; 
            span{
                color:#00730C;
            }
        }
        p{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #676767;
            margin-top: 30px;
        }
    }

    .experience-info{
        display: flex;
        padding-top: 100px;
        .experience-img{
            position: relative;
            width: 50%;
        }
        .square-green{
            width: 450px;
            height: 706px;
            background: #00730C;
            
        }
        .second-image{
            position: absolute;
            top: 36px;
            left: 24px;
           
        }
        .third-image{
            position: absolute;
            top: 597px;
            left: 237px;
        }
        .experience-text{
            width: 50%;
            h2{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 800;
                font-size: 45px;
                line-height: 61px;
                color: #212529; 
                span{
                    color:#00730C;
                }
            }
            p{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #676767;
                margin-top: 30px;
            }
            .experience-line{
                display: flex;
                margin-top: 60px;
                margin-left: 15px;
               
            }
            .experience-item{
                display: flex;
                width: 50%;
                
                p{
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    text-transform: capitalize;
                    color: #212529;
                    padding-left: 30px;
                    margin: 15px;
                }
            }
        }
        .btn-discover{
            width: 190px;
            height: 50px;
            background: #00730C;
            border-radius: 5px;
            color:#fff;
            text-align: center;
            justify-content: center;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            margin-top: 70px;
        }
    }
  


}